<div class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <a routerLink="/" class="navbar-brand">Angular Router</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/single" routerLinkActive="active">Single Level</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/double" routerLinkActive="active">Double Level</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/paramPass" routerLinkActive="active">Route Parameters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/queryParamPass" routerLinkActive="active">Query Parameters</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/routeGurad" routerLinkActive="active">Route Guard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lazy" routerLinkActive="active">Lazy Module</a>
            </li>
          </ul>
        </div>
      </div>
    </div>