<div class="card">
  <p>Query Param Grand Child</p>
  <p *ngIf="uuid1">
    UUID1 : {{uuid1}}
  </p>
  <p *ngIf="uuid">
    UUID : {{uuid}}
  </p>
  <button class="btn btn-primary" (click)="back()">Back</button> 
  <a [routerLink]="['../grandchild']" fragment="top" (click)="onAnchorClick()">Top</a>
  <a [routerLink]="['../grandchild']" fragment="middle" (click)="onAnchorClick()">Middle</a>
  <a [routerLink]="['../grandchild']" fragment="bottom" (click)="onAnchorClick()">Bottom</a>
  <div class="article" id="top">
    <p>
      Click delay optimization for touch Traditionally, browsers on touchscreen devices have a delay of approximately 300ms between
      the end of a “tap” – the moment when a finger/stylus is lifted from screen – and the click event being fired. This
      delay is necessary for these browsers to correctly handle “double-tap to zoom” gestures without prematurely triggering
      actions or links after the first “tap”, but it can make your site feel slightly sluggish and unresponsive. Most mobile
      browsers automatically optimize away this 300ms delay for sites that use the width=device-width property as part of
      their responsive meta tag (as well as for sites that disable zooming, for instance with user-scalable=no, though this
      practice is strongly discouraged for accessibility and usability reasons). The biggest exceptions here are IE11 on
      Windows Phone 8.1, and iOS Safari (and any other iOS WebView-based browser) prior to iOS 9.3. On touch-enabled laptop/desktop
      devices, IE11 and Microsoft Edge are currently the only browsers with “double-tap to zoom” functionality. As the responsive
      meta tag is ignored by all desktop browsers, using width=device-width will have no effect on the 300ms delay here.
      To address this problem in IE11 and Microsoft Edge on desktop, as well as IE11 on Windows Phone 8.1, Bootstrap explicitly
      uses the touch-action:manipulation CSS property on all interactive elements (such as buttons and links). This property
      essentially disables double-tap functionality on those elements, eliminating the 300ms delay. In the case of old iOS
      versions (prior to 9.3), the suggested approach is to use additional scripts such as FastClick to explicitly work around
      the delay. For further details, see the compatibility table for suppressing 300ms delay for touchscreen interactions.
      To address this problem in IE11 and Microsoft Edge on desktop, as well as IE11 on Windows Phone 8.1, Bootstrap explicitly
      uses the touch-action:manipulation CSS property on all interactive elements (such as buttons and links). This property
      essentially disables double-tap functionality on those elements, eliminating the 300ms delay. In the case of old iOS
      versions (prior to 9.3), the suggested approach is to use additional scripts such as FastClick to explicitly work around
      the delay. For further details, see the compatibility table for suppressing 300ms delay for touchscreen interactions.
      To address this problem in IE11 and Microsoft Edge on desktop, as well as IE11 on Windows Phone 8.1, Bootstrap explicitly
      uses the touch-action:manipulation CSS property on all interactive elements (such as buttons and links). This property
      essentially disables double-tap functionality on those elements, eliminating the 300ms delay. In the case of old iOS
      versions (prior to 9.3), the suggested approach is to use additional scripts such as FastClick to explicitly work around
      the delay. For further details, see the compatibility table for suppressing 300ms delay for touchscreen interactions.
      To address this problem in IE11 and Microsoft Edge on desktop, as well as IE11 on Windows Phone 8.1, Bootstrap explicitly
      uses the touch-action:manipulation CSS property on all interactive elements (such as buttons and links). This property
      essentially disables double-tap functionality on those elements, eliminating the 300ms delay. In the case of old iOS
      versions (prior to 9.3), the suggested approach is to use additional scripts such as FastClick to explicitly work around
      the delay. For further details, see the compatibility table for suppressing 300ms delay for touchscreen interactions.
      the delay. For further details, see the compatibility table for suppressing 300ms delay for touchscreen interactions.      
    </p>
  </div>
  <div class="article" id="middle">
    <div class="jumbotron">
      <p>
        Click delay optimization for touch Traditionally, browsers on touchscreen devices have a delay of approximately 300ms between
        the end of a “tap” – the moment when a finger/stylus is lifted from screen – and the click event being fired. This
        delay is necessary for these browsers to correctly handle “double-tap to zoom” gestures without prematurely triggering
        actions or links after the first “tap”, but it can make your site feel slightly sluggish and unresponsive. Most mobile
        browsers automatically optimize away this 300ms delay for sites that use the width=device-width property as part
        of their responsive meta tag (as well as for sites that disable zooming, for instance with user-scalable=no, though
        this practice is strongly discouraged for accessibility and usability reasons). The biggest exceptions here are IE11
        on Windows Phone 8.1, and iOS Safari (and any other iOS WebView-based browser) prior to iOS 9.3. On touch-enabled
        laptop/desktop devices, IE11 and Microsoft Edge are currently the only browsers with “double-tap to zoom” functionality.
        As the responsive meta tag is ignored by all desktop browsers, using width=device-width will have no effect on the
        300ms delay here. To address this problem in IE11 and Microsoft Edge on desktop, as well as IE11 on Windows Phone
        8.1, Bootstrap explicitly uses the touch-action:manipulation CSS property on all interactive elements (such as buttons
        and links). This property essentially disables double-tap functionality on those elements, eliminating the 300ms
        delay. In the case of old iOS versions (prior to 9.3), the suggested approach is to use additional scripts such as
        FastClick to explicitly work around the delay. For further details, see the compatibility table for suppressing 300ms
        delay for touchscreen interactions.
      </p>
    </div>

  </div>
  <div class="article" id="bottom">
    <p class="blockquote">
      Click delay optimization for touch Traditionally, browsers on touchscreen devices have a delay of approximately 300ms between
      the end of a “tap” – the moment when a finger/stylus is lifted from screen – and the click event being fired. This
      delay is necessary for these browsers to correctly handle “double-tap to zoom” gestures without prematurely triggering
      actions or links after the first “tap”, but it can make your site feel slightly sluggish and unresponsive. Most mobile
      browsers automatically optimize away this 300ms delay for sites that use the width=device-width property as part of
      their responsive meta tag (as well as for sites that disable zooming, for instance with user-scalable=no, though this
      practice is strongly discouraged for accessibility and usability reasons). The biggest exceptions here are IE11 on
      Windows Phone 8.1, and iOS Safari (and any other iOS WebView-based browser) prior to iOS 9.3. On touch-enabled laptop/desktop
      devices, IE11 and Microsoft Edge are currently the only browsers with “double-tap to zoom” functionality. As the responsive
      meta tag is ignored by all desktop browsers, using width=device-width will have no effect on the 300ms delay here.
      To address this problem in IE11 and Microsoft Edge on desktop, as well as IE11 on Windows Phone 8.1, Bootstrap explicitly
      uses the touch-action:manipulation CSS property on all interactive elements (such as buttons and links). This property
      essentially disables double-tap functionality on those elements, eliminating the 300ms delay. In the case of old iOS
      versions (prior to 9.3), the suggested approach is to use additional scripts such as FastClick to explicitly work around
      the delay. For further details, see the compatibility table for suppressing 300ms delay for touchscreen interactions.
    </p>
  </div>
</div>